*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
}


body{
    height: 100vh;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        "nav"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 4rem 1fr 4rem;
    height: 100%;
}

.nav{
    display: flex;
    grid-area: nav;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color:#e5b9b6;

}

.main{
    grid-area: main;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer{
    grid-area: footer;
    background-color:#e5b9b6;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: 600;
    position: relative;
}


/* navbar */

.brand{
    flex: 1;
}

.brand a{
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.brand button{
    font-size: 2.5rem;
    padding: .5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}

.search{
    flex: 25rem;
}

.search input[type="text"]{
   width: 70%;
   height: 2.5rem;
   border-radius: 5px;
   padding: 0 10px;
   border: none;
   outline: none;
}

.search button{
    height: 2.5rem;
    width: 5rem;
    background-color:#aad0d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: 600;
    outline: none;
}

.leftMenu{
    flex: 1;
}

.nav-links{
    font-size: 1.3rem;
    color: white;
    border-radius: 10px;
    padding: 6px 30px;
}

.nav-links i{
    padding-left: 5px;
    line-height: 1.3;
}

.nav-links:hover{
    background-color: #aad0d9;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 7px 0 3px;
    vertical-align: top;
    margin-left: -10px;
    border-radius: 9px; 
}

/* sidebar */

.sidebar{
    position: fixed;
    transform: translateX(-30rem);
    width: 30rem;
    background-color: #e5b9b6;
    height: 100%;
    transition: all 0.5s;
    color: white;
}

.sidebar h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 28px;
    font-size: 2rem;
}

  
  .sidebar.open{
    transform: translateX(0);
  }
  
  .sidebar-close-button{
    border-radius: 50%;
    border: .1rem #9ea1af solid;
    color: #9ea1af;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    outline: none;
  }

.sidebar ul li a{
    color: #838b96;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    font-size: 1.5rem;
    width: 97.5%;
    margin: 1rem 0;
}

.sidebar ul li a:hover{
    border: .8px solid #aad0d9;
    border-right: 0;
    border-left: 0;
    transform: scale(1.05);
    background-color: #e9a8a3;
}

.sidebar ul li a i{
    padding-left: 3rem;
}

/* main */

.product-image{
    grid-row: 1/2;
    grid-column: 1/3;
    padding: 2rem 5rem;
    height: 30rem;
}

.product-image img{
    height: 100%;
    margin-left: 6rem;
}

.product-details{
    grid-row: 1/2;
    grid-column: 3/5;
    padding: 3rem 3rem;
    width: 90%;
}

.product-name{
    color: #9ea1af;
    font-size: 3.5rem;
    padding: 10px 0;
}

.product-price{
    font-size: 2rem;
    color: #aad0d9;
    font-weight: 800;
    padding-bottom: 3rem;
}

.product-description label, .status label, .qty label{
    font-size: 1.5rem;
    color: #838b96;
    font-weight: 800;
    line-height: 2;
}

.product-description p, .status p, .qty select{
    color: #aad0d9;
    font-size: 1.1rem;
    font-weight: 600;
}

.qty select{
    margin-left: 20px;
    width: 4rem;
    border: 2px solid #e9a8a3;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.qty select:hover{
    border-color: #aad0d9;
    color: #e9a8a3;
}

.cart{
    margin-top: 15px;
    width: 8rem;
    height: 2.5rem;
    border-radius: 8px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #e9a8a3;
    color: white;
    font-weight: 550;
    font-size: .9rem;
}

.cart:hover{
    background-color: #aad0d9;
}

.container{
    grid-row: 3;
    grid-column: 1/5;
    margin: 4rem auto;
}

.container h1{
    text-align: center;
    color: #838b96;
    font-weight: 600;
    font-size: 2.5rem;
    border-top: 3px solid #aad0d9;
    border-bottom: 3px solid #aad0d9;
    margin-bottom: 3.5rem;
    padding: 10px 0;
}

.container .box{
    width: 96%;
}

.container .box h3{
    color: #e9a8a3;
    line-height: 3;
    font-size: 1.3rem;
}

.container .box p{
    color: #838b96;
    font-weight: 550;
    padding: 15px 0;
}

.review{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rating{
    padding: 0 2rem;
    color: #838b96;
}

.rating h3{
    margin: 10px 0;
}

.addReview{
    width: 30rem;
    padding: 0 2rem;
}

.addReview h3{
    padding: 10px 0;
    text-align: center;
    color: #838b96;
}

.addReview button{
    width: 100%;
    height: 2.3rem;
    margin: 24px 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #e9a8a3;
    color: white;
    font-weight: 500;
    cursor: pointer;
    font-size: 1rem;
}

.addReview button:hover{
    background-color: #aad0d9;
}

.fa-star.checked {
    color: orange;
    /* border: none; */
}

.fa-star{
    color: white;
}

.empty{
    width: 200px;
    height: 30px;
    padding: 0;
    margin: 7px 10px;
    border: .5px solid #9ea1af;
    border-radius: 5px;
    
}

.fill{
    width: 20%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: orange;
    border-radius: 5px;
}

.star, .empty{
    display: inline-block;
    vertical-align: middle;
}

