<!DOCTYPE html>
<html>
<head>
    <title>VITCart</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="../js/index.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
</head>

<body>
    <div class="grid-container">
        <nav class="nav">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="">VITCart</a>
            </div>
            <div class="search">
                <input type="text" placeholder="Search For A Product">
                <button>Search</button>
            </div>
            <div class="leftMenu">
                <a class="nav-links" href="">Login<i class="fas fa-sign-in-alt"></i></a>
                <a class="nav-links" href="">Cart<i class="fas fa-shopping-cart"></i></a>
            </div>
        </nav>

        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">X</button>
            <ul>
                <li>
                    <a href="">Men<i class="fas fa-chevron-right"></i></a>
                </li>
                <li>
                    <a href="">Women<i class="fas fa-chevron-right"></i></a>
                </li>
                <li>
                    <a href="">Food & Drinks<i class="fas fa-chevron-right"></i></a>
                </li>
                <li>
                    <a href="">Groceries<i class="fas fa-chevron-right"></i></a>
                </li>
                <li>
                    <a href="">Stationaries<i class="fas fa-chevron-right"></i></a>
                </li>
            </ul>
        </aside>

        <main class="main">
            
            <a href="https://google.com"><img name="slide" width="1520px" height="500px"></a>

            <div class="type">
                <button class="typeBtn">BUY NEW</button> 
                <button class="typeBtn">BUY USED</button> 
                <button class="typeBtn">RENT</button> 
            </div>
            
                <p class="pHead">Today's Offers</p>
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="../images/1.png" alt="image">
                            <div class="product-info">
                                <div class="product-name">
                                    <a href="product.html">Tata Salt</a>
                                </div>
                                <div class="product-price">$2.50</div>
                                <div class="product-rating">4.6 stars</div>
                                <button>Add To Cart</button>
                            </div>
                            
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="../images/2.png" alt="image">
                            <div class="product-info">
                                <div class="product-name">
                                    <a href="product.html">Milky Mist</a>
                                </div>
                                <div class="product-price">$3.00</div>
                                <div class="product-rating">4 stars</div>
                                <button>Add To Cart</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="../images/3.png" alt="image">
                            <div class="product-info">
                                <div class="product-name">
                                    <a href="product.html">Aashirvad Aata</a>
                                </div>
                                
                                <div class="product-price">$5.00</div>
                                <div class="product-rating">3.2 stars</div>
                                <button>Add To Cart</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="../images/4.png" alt="image">
                            <div class="product-info">
                                <div class="product-name">
                                    <a href="product.html">Nestle Slim Dhai</a>
                                </div>
                                
                                <div class="product-price">$1.00</div>
                                <div class="product-rating">4.3 stars</div>
                                <button>Add To Cart</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="../images/5.png" alt="image">
                            <div class="product-info">
                                <div class="product-name">
                                    <a href="product.html">Tropicana Cranberry</a>
                                </div>
                                
                                <div class="product-price">$1.30</div>
                                <div class="product-rating">4.8 stars</div>
                                <button>Add To Cart</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <img class="product-image" src="../images/6.png" alt="image">
                            <div class="product-info">
                                <div class="product-name">
                                    <a href="product.html">Coca Cola Zero</a>
                                </div>
                                
                                <div class="product-price">$1.00</div>
                                <div class="product-rating">4.6 stars</div>
                                <button>Add To Cart</button>
                            </div>
                        </div>
                    </li>
                </ul>
            

            <h1 class="galleryHead">Online Supermarket</h1>
            <div class="box">
                <img class="img1" src="../images/img1.jpg">
                <img class="img2" src="../images/img2.jpg">
                <img class="img3" src="../images/img3.jpg">
                <img class="img4" src="../images/img4.jpg">
            </div>

            <h1 class="ourBrands">Our Brands</h1>
            <div class="container">
                <a href="">Lorem</a>
                <a href="">Lorem</a>
                <a href="">Lorem</a>
                <a href="">Lorem</a>
                <a href="">Lorem</a>
                <a href="">Lorem</a>
                <a href="">Lorem</a>
                <a href="">Lorem</a>
                <a href="">Lorem</a>
                <a href="">Lorem</a>
                <a href="">Lorem</a>
                <a href="">Lorem</a>
            </div>
        </main>

        <footer class="footer">
            All Rights Reserved - Sanket
        </footer>
    </div>

</body>
</html>